<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Ontology</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Chart.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <hr>
    <div class="container form-container">
        <header class="text-center my-5">
            <h1>Moteur de recherche de musique</h1>
        </header>
        <div class="row">
            <div class="offset-md-2 col-md-8" style="min-height: 350px;">
                <div id="result" hidden>

                </div>
                <div class=" row col-md-12" style="height: 60px;" id="back_div" hidden>
                    <button type="button" class="submit-button" id="back">Retour</button>
                </div>
                <div class="criterion" hidden>
                    <div class="text">M</div>
                    <div class="text">U</div>
                    <div class="text">S</div>
                    <div class="text">I</div>
                    <div class="text">C</div>
                    <div class="text"> </div>
                    <div class="text">O</div>
                    <div class="text">N</div>
                    <div class="text">T</div>
                    <div class="text">O</div>
                    <div class="text">L</div>
                    <div class="text">O</div>
                    <div class="text">G</div>
                    <div class="text">Y</div>
                    <div class="text"> </div>
                </div>
                <form enctype="multipart/form-data" action="{{ url_for('execRequest')}}" method="post" id="uploadForm">

                    <div class="form-group row">
                        <label for="nom_artiste" class="col-md-6">Nom de l'artiste</label>
                        <div class="col-md-6">
                            <input type="text" name="nom_artiste" id="nom_artiste" class="form-control input">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="date_naissance" class="col-md-6">Date de naissance</label>
                        <div class="col-md-6">
                            <input type="date" name="date_naissance" id="date_naissance" class="form-control input">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="lieu_naissance" class="col-md-6">Lieu de naissance</label>
                        <div class="col-md-6">
                            <input type="text" placeholder="Ex. United_Kingdom" name="lieu_naissance" id="lieu_naissance" class="form-control input">
                        </div>

                    </div>
                    <hr>
                    <h3>Fonction</h3>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="auteur"  name="auteur" class="checkbox-style">Auteur
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="compositeur" name="compositeur" class="checkbox-style">Compositeur
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="interprete" name="interprete" class="checkbox-style">Interprète
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="musicien" name="musicien" class="checkbox-style">Musicien
                        <span class="checkmark"></span>
                    </label>
                    <div class=" row col-md-12" style="height: 60px;">
                        <button type="button" onclick="executeRequest()" class="submit-button"> Valider</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <!--<div class="made-by">Realized by: Asma BRAZI</div>-->
    <div class="logo">
        <img src="../static/images/logo.png" alt="logo-university">
    </div>
</body>




<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/Chart.js"></script>
<script src="../static/js/jquery-3.5.1.min.js"></script>

<!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script> -->

<script>
    // var ctx = document.getElementById("barChart").getContext('2d');
    // var barChart = new Chart(ctx, {
    //     type: 'bar',
    //     data: {
    //         labels: [""],
    //         datasets: [{
    //             label: 'Probabilty',
    //             data: [70],
    //             backgroundColor: "#8A1638"
    //         }]
    //     },

    //     options: {
    //         responsive: true,
    //         maintainAspectRatio: false,
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true,
    //                     max: 100
    //                 }
    //             }]
    //         }
    //     }
    // });

    function executeRequest() {
        var form = new FormData(document.querySelector('form'));
        //$("#uploadForm").serializeArray();
        console.log(form);
        // var data={};
        // form.forEach(element => {
        //     data[element.name]=element.value;
        // });
        // console.log(data);
        $('#uploadForm').attr('hidden', true);
        $('.criterion').attr('hidden', false);
        var url = "{{ url_for('execRequest')}}";
        $.ajax({
            url: url,
            method: "POST",
            dataType: 'json',
            data: form,
            processData: false,
            contentType: false,
            success: function(result) {
                console.log(result);
                $('.criterion').attr('hidden', true);

                result.results.forEach(element => {
                    //$('#result').append('</br><h2>'++'</h2>');
                    var e = element,
                        key;
                    for (key in e) {
                        if (e.hasOwnProperty(key)) {
                            console.log(key + " = " + e[key]);
                            $('#result').append('<span>' + key + ': ' + e[key] + '</span></br>');
                        }
                    }
                    $('#result').append('<hr></br>');
                    //$('#result').append('<span>Fonction: '+element['Fonction']+'</span>');
                });

                $('#result').attr('hidden', false);
                $('#back_div').attr('hidden', false);
                // document.getElementById("barChart").innerHTML = ""
                // var r = jQuery.parseJSON(result.results);
                // newChart(r.proba, r.class);
                // $("#class").html(r.class);
            },
            error: function(er) {
                console.log('error: ' + er);
                $('.criterion').attr('hidden', true);

                $('#result').append('</br><span>' + er + '</span>');
                $('#result').attr('hidden', false);
                $('#back_div').attr('hidden', false);

            }
        });
    }
    $("#back_div").click(function() {

        $('#back_div').attr('hidden', true);
        $('#result').attr('hidden', true);
        $('#uploadForm').attr('hidden', false);
        $('#result').html('');
    });

    // function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();
    //         reader.onload = function(e) {
    //             $('#image').attr('src', e.target.result);
    //         }

    //         reader.readAsDataURL(input.files[0]); // convert to base64 string
    //     }
    // }

    // $("#image_data").change(function() {
    //     readURL(this);
    // });
</script>
<!-- <script>
    function newChart(number, type) {
        var ctx = document.getElementById("barChart").getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: 'Probabilty',
                    data: [number],
                    backgroundColor: "#8A1638"
                }]
            },

            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        });
    }
</script> -->

</html>